@media (max-width: 960px) {
  .header__list {
    display: none;
  }

  .header-container {
    padding: 30px 0px;
  }

  .hero__background {
    height: 700px;
  }
}

@media (max-width: 549px) {
  .hero__title {
    font-size: 52px;
    font-weight: 400;
    line-height: 62px;
  }

  .footer__list {
    flex-direction: column;
  }

  .gallery__wrap-image {
    width: 100%;
  }

  .ability-title {
    font-size: 44px;
  }

  .hero__background {
    height: 300px;
  }

  .ability__image {
    height: 350px;
  }
}
