@font-face {
  font-family: Graphik;
  src: url(../fonts/GraphikLCGRegular.ttf);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

a:hover {
  color: #929292;
}

a:active {
  color: #696969;
}

body {
  font-family: Graphik;
  color: aliceblue;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.header__img {
  width: 142px;
  height: 40px;
}

.header-container {
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  max-width: 1097px;
  margin: 0 auto;
}

.header__item:not(:last-child) {
  margin-right: 31px;
}

.btn {
  cursor: pointer;
  padding: 13.5px 46px;
  border: 1px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
  transition: filter 0.3s;
}

.btn:hover {
  filter: brightness(60%);
}

.btn:active {
  filter: brightness(40%);
}

.btn:focus-visible {
  filter: brightness(80%);
  outline: 3px solid rgb(169, 167, 167);
}

.container {
  background-color: #000000;
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 35px;
}

.section-destr {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.section-title {
  text-align: center;
  font-size: 52px;
  line-height: 62px;
  font-weight: 400;
  margin-bottom: 10px;
}

/* hero */
.hero__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  font-size: 80px;
  font-weight: 500;
  line-height: 88px;
  margin-bottom: 27px;
  padding-top: 85px;
}

.hero-container {
  text-align: center;
}

.hero__destr {
  max-width: 795px;
  margin-bottom: 85px;
}

.hero__img {
  width: 100%;
}

.btn-primary {
  background-color: #4452fe;
  border: none;
}

.btn-wrap {
  margin-bottom: 35px;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

/* ability */
.ability__destr {
  max-width: 795px;
  margin-bottom: 80px;
}

.ability-title {
  padding-top: 150px;
}

.ability__wrap {
  max-width: 1088px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.ability__wrap-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 45px;
  margin-bottom: 15px;
}

.ability__wrap-destr {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}

.ability__image-item {
  width: 100%;
  margin-bottom: 27px;
}

.ability__image {
  max-width: 700px;
}

.ability__wrap-right-block {
  max-width: 310px;
}

.svg1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  background-image: url(/img/Vector.svg);
  background-repeat: no-repeat;
  z-index: 222;
}

.svg2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(/img/Vector2.svg);
  background-repeat: no-repeat;
  z-index: 222;
}

.svg3::before {
  content: "";
  position: absolute;
  top: 0;
  left: -7px;
  width: 41px;
  height: 19px;
  background-image: url(/img/Vector3.svg);
  background-repeat: no-repeat;
  z-index: 222;
}

.ability__wrap-block {
  position: relative;
}

/* extensions */
.extensions-title {
  padding-top: 160px;
}

.extensions__destr {
  max-width: 572px;
  text-align: center;
  margin-bottom: 44px;
}

.extensions__card {
  max-width: 476px;
  height: 626px;
  background-color: #ffffff;
  padding: 40px 35px;
  border-radius: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.extensions__wrap {
  justify-content: center;
  flex-wrap: wrap;
  gap: 33px;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
  color: #000000;
  align-self: center;
}

.extensions-btn {
  align-self: center;
}

.card-destr {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
  color: #5c5c5c;
  margin-bottom: 44px;
}

/* gallery */

.gallery-container {
  padding-top: 100px;
}

.gallery__destr {
  max-width: 450px;
  margin-bottom: 54px;
}

.gallery__wrap {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1087px;
  margin: 0 auto;
  gap: 33px;
}

.gallery__wrap-image {
  margin-bottom: 44px;
  border-radius: 10px;
}

.gallery-btn {
  display: block;
  margin: 0 auto;
}

/* partners */
.partners__destr {
  text-align: center;
  max-width: 520px;
  margin-bottom: 50px;
}

.partners-title {
  padding-top: 150px;
}

.partners-btn {
  display: block;
  margin: 0 auto;
}

.partners__wrap {
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 55px;
  gap: 55px;
}

.reviews-title {
  padding-top: 150px;
  margin-bottom: 50px;
}

/* reviews */
.reviews__card-image {
  margin-right: 13px;
}

.reviews__card {
  padding: 40px;
  width: 430px;
  border: 1px solid #dedede;
  border-radius: 10px;
}

.reviews__card-destr {
  line-height: 24px;
}

.reviews__card-header {
  margin-bottom: 30px;
}

.reviews__list {
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 950px;
  justify-content: center;
  gap: 20px;
}

/* footer */
.footer__list-item {
  flex-direction: column;
}

.footer-container {
  justify-content: center;
  flex-wrap: wrap;
  gap: 200px;
  padding-top: 200px;
  padding-bottom: 100px;
}

.footer__list {
  justify-content: center;
  /* margin-right: 200px; */
  flex-wrap: wrap;
  gap: 75px;
}

.item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 40px;
}

.item-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 19px;
}

.footer__link {
  display: block;
  margin-bottom: 50px;
  padding-left: 35px;
}

.footer__right-block {
  position: relative;
}

.mark1::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -15px;
  width: 50px;
  height: 50px;
  background-image: url(/img/bx_bx-map.svg);
  background-repeat: no-repeat;
  z-index: 222;
}

.mark2::before {
  content: "";
  position: absolute;
  top: 60px;
  left: -8px;
  width: 50px;
  height: 50px;
  background-image: url(/img/ic_baseline-phone-android.svg);
  background-repeat: no-repeat;
  z-index: 222;
}

.footer__icon:not(:last-child) {
  margin-right: 24px;
}

.footer__icon-img {
  transition: scale 0.5s;
}

.footer__icon-img:hover {
  scale: 1.3;
}
